# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# Lambda build artifacts
**/build.zip

# Python cache
__pycache__/
*.pyc

# Node/Vue
frontend/node_modules/
frontend/dist/

# Environment variables
.env
.env.*
frontend/.env
frontend/.env.*